@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.ImagenLogo{
 width: 60px;
 position: relative;
 left: 100px;
}


.Relativo5{
    position: relative;
    top: -40px;
    bottom: 0px;
    left: 450px;
    right: 0px;
}

.TextoHeader{
text-decoration: none;
color: black;
font-size: 20px;
padding: 30px;


}

.Relativo6{
position: relative;
top: -80px;
left: 1100px;
}



.Relativo{
position: relative;
top: -40px;
bottom: 0px;
left: 100px;
right: 0px;
}

.primerTitulo{
    font-size: 65px;
    font-family: 'Satisfy', cursive;
  
}

.imagenTarjetaChica{
    width: 60px;
    position: relative;
    top: -190px;
    left: 490px;
    right: ;
    z-index: -1;
}

.Relativo1{
position: relative;
top: -200px;
bottom: 0px;
left: 100px;
right: 0px;
}

.segundoTitulo{
    font-size: 55px ;
    font-family: 'Merriweather', serif;
  
}

.imagenFlechaNegra{
    width: 100px;
    position: relative;
    top: -430px;
    left: 650px;
    right: ;
    transform: rotate(-35deg);
   
}


.textoParrafo{
width: 600px;
text-align: justify;
position: relative;
top: -20px;
bottom: 0px;
right: 0px;
}

.fontSizeParrafo {
    font-size: 25px;
}

.imagenTarjetaGrande{
    width: 350px;
    position: relative;
    top: -460px;
    left: 800px;
    right: ;
    transform: rotate(-30deg);
    
}

.DobleFlecha{
    width: 120px;
    position: relative;
    top: -600px;
    left: 580px;
    right: 0px ;
    

}

.BotonNegro{
font-size: 20px;
color: white;
background-color: black;
padding: 10px 40px;
border-radius: 10px;
}

.BotonNegro1{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px 40px;
    border-radius: 10px;
    }

.BotonBlanco{
    font-size: 20px;
    background-color: white;
    padding: 10px 40px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    margin: 20px;
}

.botones{
    position: relative;
    top: -30px;
    bottom: 0px;
right: 0px;
}

.Relativo2{
    position: relative;
    top: -640px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}

.FontSizeTrustedBy{
    font-size: 25px;
}    


.Relativo3{

    position: relative;
    top: -700px;
    bottom: 0px;
    left: -70px;
    right: 0px;
}

.miclase{
    padding: 40px 70px;
    justify-content: space-between;
}



.Relativo4{
    background-color: rgb(59, 59, 63);
    padding: 10px;
    display: flex;
justify-content: space-evenly;
    position: relative;
    top: -850px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.logoAmazon{
    padding: 40px 60px;
    border-right: 5px solid white;

}
.PosicionAmazon{
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 800px;
    right: 0px;
}

.logoGoogle{
    padding: 40px 60px;
    border-right: 5px solid white;
}

.logoFacebook{
    padding: 40px 60px;
    border-right: 5px solid white;
}


.logoSamsung{
    padding: 40px 60px;
    
    
